/** 清除内外边距 **/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,dl,dt,dd,input,select,textarea{margin:0;padding:0;}

/** 设置默认字体 **/
body{font-family:Verdana,Tahoma,Arial,Helvetica,sans-serif;-webkit-user-select: none;-webkit-text-size-adjust: 100%;}

/** 重置图片元素 **/
img{border:none;vertical-align:top;display:block;max-width:100%;}

/** 重置列表元素 **/
li{list-style:none;}

/** 重置超链接元素 **/
a{text-decoration:none;}

/** 去除textarea、input文本框的resize outline样式 **/
textarea{resize:none;font-family:"Microsoft YaHei";outline: none;}
input{outline:none;font-family:"Microsoft YaHei";}

/**通用浮动类元素 **/
.fl{float:left;}
.fr{float:right;}

/*清浮动*/
.clearfix{zoom:1;}
.clearfix:after{content:"";display:block;clear:both;}
/* 多余文字...显示 */
.ellip{
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.inpRadCheck{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	opacity: 0;
}
/* 三角形 */
.triSpan{
	width:0px;
	height:0px;
	position:absolute;
}
/* 清除a标签touchend时默认的灰色背景 */
a,input,textarea{
	-webkit-tap-highlight-color:transparent;
}
button,input,textarea {
  /* 解决ios下自带的圆角 */
  -webkit-appearance: none;
  border-radius: 0px;
}
.layer{
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:980;
	opacity:0;
	background:rgba(0,0,0,.6);
}