@charset "utf-8";
/*toast模拟层*/
.toast-wrap{
      opacity: 0;
      position: fixed;
      bottom: 9%;
      color: #fff;
      width: 100%;
      text-align: center;
   }
   .toast-msg{
      background-color: rgba(0,0,0,0.7);
      padding: 8px;
      border-radius: 5px;
      font-size: 0.38rem;
   }
  .toastAnimate{
      animation: toastKF 2s;
  }
  @keyframes toastKF{
      0% {opacity: 0;}
     25% {opacity: 1; z-index: 9999}
     50% {opacity: 1; z-index: 9999}
     75% {opacity: 1; z-index: 9999}
     100% {opacity: 0; z-index: 0}
  }
/*loading层*/
.loadingDiv{
	width: 100px;
	height: 100px;
	position:fixed;
	left: 50%;
	margin-left:-50px;
	top:50%;
	margin-top:-0.5rem;
	background:rgba(0,0,0,.6);
	border-radius: 8px;
	z-index: 900;
	color: #fff;
	text-align: center;
	display: none;
}
.loadingDiv p{
	margin-top: -25px;
	font-size:14px ;
}
.loadEffect{
    width: 100px;
    height: 100px;
    transform:scale(0.5);
    margin-top: -10px;
}
.loadEffect span{
    display: inline-block;
    width: 30px;
    height: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #fff;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top:-5px;
    -webkit-animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 10px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    -webkit-animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 10px;
    margin-left: -15px;
    -webkit-transform: rotate(90deg);
    -webkit-animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 20px;
    right:10px;
    -webkit-transform: rotate(135deg);
    -webkit-animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top:-5px;
    -webkit-transform: rotate(180deg);
    -webkit-animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 10px;
    bottom:20px;
    -webkit-transform: rotate(225deg);
    -webkit-animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    -webkit-transform: rotate(270deg);
    -webkit-animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 20px;
    left: 10px;
    -webkit-transform: rotate(315deg);
    -webkit-animation-delay:1.04s;
}
/*
 	<div class="toast-wrap">
        <span class="toast-msg"></span>
    </div> 
 	<div class="loadingDiv">
		<div class="loadEffect">
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
		</div>
		<p>正在加载...</p>
	</div>
 */